
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin:0;
}
nav ul { 
    font-size: 1rem;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
}   

nav ul li{
    display:flex;
    justify-content: center;
    height: 40px;
    align-items: center;
   
}
    
#language {
    background-color: rgb(227, 223, 223);
    border-radius: 20px;
    width: 90px;
    margin: 2px 15px 2px 15px;
    
}
.main-header {
    
    background-image: url(assets/img/bg.jpg);/* Remplacez 'your-image-url.jpg' par le chemin de votre image */
    background-size: cover; /* Pour couvrir toute la zone de l'élément */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    background-attachment: fixed; /* Pour rendre l'image de fond fixe */
    background-position: center; /* Pour centrer l'image */
    height: 1333px;
  }



